<div class="container mt-4">
    <h1>О нас</h1>
    
    <p class="lead">Head&Heart предлагает широкий спектр консультационных услуг в области налогообложения. Мы сочетаем понимание 
    бизнеса клиентов, инновационные решения и обширные профессиональные и отраслевые знания. Это позволяет нам 
    оказывать услуги самого высокого качества, учитывая специфику каждой компании.
    Мы разрабатываем учебные программы по бухгалтерскому учету и финансам, а также трудоустраиваем 
    талантливых молодых специалистов.</p>
    
    <p class="lead">Фирма Head&Heart открыла офис в Барнауле 3 октября 2013 года.
    Этот офис стал отражением стремления Head&Heart способствовать росту эффективности местного бизнеса и 
    развитию рынка аудиторско-консультационных услуг в регионе.</p>
<br>
    <div>
    <h3>Адрес</h3>
    <p>Бизнес-центр Плаза<br>
    ул. Гоголя, д. 82,<br>
    Барнаул, Россия, 656043<br>
    Телефон: +7 (3852) 99-88-98<br>
    E-mail: <span style="unicode-bidi: bidi-override;direction: rtl;">il.hnh@ih</span>


  <br> 
    </p></div>
</div>