<div class="container mt-4">
    <h1>Налоги и взносы</h1>
    <h5>ФСС и ФСС НС</h5>
    <p>Работодатель исчисляет страховые взносы в ФСС (Фонд социального страхования) по двум направлениям:</p>
    <ul class="browser-default">
        <li>Взносы в ФСС на обязательное социальное страхование на случай временной нетрудоспособности и всвязи с
            материнством.
        </li>
        <li>ФСС НС (ФСС Несчастные случаи). Страховые взносы на обязательное социальное страхование от несчастных случаев на производстве и профессиональных заболеваний уплачиваются страхователем в соответствии с видами экономической деятельности по классам профессионального риска.</li>
    </ul>
    <p>Иными словами: взносы в ФСС работодатель уплачивает для того чтобы, при наступлении страхового случая (больничный, травматизм, декретный отпуск) сотрудник гарантированно получал пособия за счёт средств бюджета. </p>
    <p><b>Сроки уплаты:</b> Не позднее 15-го числа месяца, следующего за месяцем их начисления с зарплаты и других выплат работникам (п. 3 ст. 431 НК РФ). Если 15-е число выпадает на выходной или праздничный не рабочий день , крайний срок уплаты - следующий рабочий день (п. 7 ст. 6.1 НК РФ).
        Взносы ФСС НС уплачиваются в ФСС по месту регистрации налогоплательщика. Взносы ФСС по временной нетрудоспособности и в связи с материнством уплачиваются в ИФНС.</p>
    <h5>ФОМС</h5>
    <p>ФОМС (Федеральный фонд обязательного медицинского страхования)<br>
        Страховые взнос уплачиваемые в Федеральный фонд обязательного медицинского страхования <br>
        <b>Сроки уплаты:</b> Не позднее 15-го числа месяца, следующего за месяцем их начисления с зарплаты и других выплат работникам (п. 3 ст. 431 НК РФ). Если 15-е число выпадает на выходной или праздничный не рабочий день , крайний срок уплаты - следующий рабочий день (п. 7 ст. 6.1 НК РФ).
        Взносы ФОМС уплачиваются в ИФНС.</p>
    <h5>НДФЛ</h5>
    <p>НДФЛ (Подоходный налог или Налог на доходы физических лиц) <br>
        <b>Сроки уплаты:</b> Не позднее дня следующего за днём выплаты зарплаты, болничных, отпускных, премий и т.п. (п. 6 ст. 226 НК РФ). За неуплату НДФЛ пологается штраф (20 процентов от неуплаченной суммы).
        Налог уплачивается в ИФНС.</p>
    <h5>ЕНВД</h5>
    <p>ЕНВД (Единый налог на вмененный доход) <br>
        <b>Сроки уплаты:</b> Не позднее 25-го числа первого месяца следующего за отчётным кварталом (ст. 346.32 НК РФ).
        Налог уплачивается в ИФНС.</p>
    <h5>УСН</h5>
    <p>УСН (Упрощённая система налогообложения) <br>
        Налог уплачиваемый в связи с применением упрощённой системы налогообложения<br>
        <b>Сроки уплаты:</b><br>
        Авансовый платёж за первый квартал не позднее 25-го апреля.<br>
        Авансовый платёж за второй квартал не позднее 25-го июля.<br>
        Авансовый платёж за третий квартал не позднее 25-го октября.<br>
        Налог за истекший год не позднее 31-го марта.<br>
        Налог уплачивается в ИФНС.</p>
    <h5>НДС</h5>
    <p>НДС (Налог на добавленную стоимость) <br>
        Налоговая ставка НДС в России составляет 18 % и применяется по умолчанию, если операция не входит в перечень облагаемых по ставке 10 % или в перечень со ставкой 0 %.
        <br>
        <b>Сроки уплаты:</b> Не позднее 25-го числа первого месяца следующего за отчётным кварталом. <br>
        Налог уплачивается в ИФНС.</p>
    <h5>Прибыль ФБ и Прибыль Суб. РФ</h5>
    <p>Налог на прибыль исчисляется и уплачивается по двум направлениям:</p>
    <ul class="browser-default">
        <li>Налог зачисляемый в федеральный бюджет (Прибыль ФБ) ставка 3 процента;</li>
        <li>Налог зачисляемый в бюджет субъекта РФ (Прибыль Суб. РФ) ставка 17 процентов;</li>
    </ul>
    <p><b>Сроки уплаты:</b> Авансовый платёж не позднее 28-го числа первого месяца следующего за отчётным кварталом.
        Налог за истекший год не позднее 28-го марта.
        Налог уплачивается в ИФНС.</p>
</div>