<div class="container mt-4">
    <h1>Обучение</h1>
    
    <p>
        Компания Head&Heart специализируется не только на сопровождении бизнеса, но и заботится о подрастающем поколении, проводя семинары как для начинающих, так и для специалистов с большим опытом работы.
        На обучении присутствуют спикеры из разных отраслей бухгалтерского учёта, права, налоговые консультанты, аудиторы и эксперты в зависимости от тематики семинара.
    </p>
    <p class="lead text-muted">
        Наши эксперты всегда рады поделиться своими опытом и знаниями в области операционной эффективности, налоговой оптимизации и внедрения новых технологий.
    </p>
    <!-- <p>
        По окончании семинара действует месячная консультационная поддержка по вопросам оперативного учёта, нологовой и бухгалтерской безопасности.

    </p> -->

    <div class="card">
        <div class="card-body">
          Скоро. В Апреле 2018. Подробности по тел. +7 (3852) 99-88-98
        </div>
      </div>
    <br>
</div>
