<section class="main-img z-depth-5" >
    <div class="bg-transparent">
        <div class="container">
            <div class="col-12 mt-5 main-img-text">
                <h1>Head&Heart</h1>
                <h3>НЕРАВНОДУШНАЯ БУХГАЛТЕРСКАЯ КОМПАНИЯ</h3>
            </div>
        </div>
    </div>
</section>

<div class="container mt-4">
    <div class="col-12">
        <img src="assets/img/qwe.jpg" class="align-top mr-3 mb-3 mt-1 float-left" alt="Налоговые услуги" style="width: 100px;">
        <p class="lead">
            Передавая неосновные функции на аутсорсинг, компании, вне зависимости от своего размера, получают очевидные преимущества. Имея сторонних специалистов, занимающихся вопросами налогообложения, бухгалтерского учета, заработной платы, кадров или международной отчетности вашей компании, вы можете сконцентрироваться на самом важном.

            Вне зависимости от того, является ли ваша компания новичком на рынке или транснациональной корпорацией, а также независимо от вида ее деятельности, мы предложим решение, отвечающее вашим ожиданиям. Наша команда состоит из экспертов, для предоставления вам высококачественных консультационных услуг, ориентированных на специфику вашей отрасли.

            Мы внимательно следим за законопроектами Российской Федерации в области налогообложении и бухгалтерского учета; обладаем сведениями о новых нормативных требованиях и о том, какое влияние они могут оказать на бизнес. Благодаря этому мы можем предложить вам решение уже к моменту вступления новых нормативно-правовых актов в силу.
        </p>
    </div>
</div>